VWA_CLASSIFIEDS=http://<EC2_PUBLIC_IP>:9980
VWA_CLASSIFIEDS_RESET_TOKEN=<token>
VWA_SHOPPING=http://<EC2_PUBLIC_IP>:7770
VWA_REDDIT=http://<EC2_PUBLIC_IP>:9999
VWA_WIKIPEDIA=http://<EC2_PUBLIC_IP>:8888
VWA_HOMEPAGE=http://<EC2_PUBLIC_IP>:4399

# Optional
# VWA_FULL_RESET=http://<EC2_PUBLIC_IP>:7565
# OPENAI_API_KEY=replace_me_if_official_evaluator_needs_it
