WORKARENA_DEFAULT_TASK=browsergym/workarena.servicenow.knowledge-base-search
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
ZAI_API_KEY=
HUGGING_FACE_HUB_TOKEN=
SNOW_INSTANCE_POOL=
SNOW_INSTANCE_URL=
SNOW_INSTANCE_UNAME=
SNOW_INSTANCE_PWD=
