.venv/
.venv_vwa/
.venv_vwa*/
.venv_miniwob/
.venv_workarena/
.env.vwa
.env.api
.env.miniwob
.env.workarena
__pycache__/
env/__pycache__/
scripts/__pycache__/
*.pyc
*.pyo
outputs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pem
